html,body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #333;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.1em
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #FF6600;
}

img {
	border: none;
}

ul {
	margin: 0 0 0 0.5em;
	padding: 0 0 0 0;
	list-style: none;
}

ul li {
	background: url(images/list_bullet.png) no-repeat 0 0.5em;
	padding-left: 0.7em;
	margin-bottom: 0.4em;
}

#wrapper {
	width: 950px;
	margin: 0px auto;
}

#header {
	height: 90px;
	position: relative;
}

#site_logo {
	position: absolute;
	top: 29px;
	left: 10px;
}

/**************/
/* NAVIGATION */
/**************/

#main_navigation {
	float: right;
	position: absolute;
	top: 38px;
	right: 5px;
}

#main_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_navigation ul li {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}



#main_navigation a {
	float: left;
	display: block;
	height: 11px;
	background-position: 50% 0%;
	background-repeat:no-repeat;
}

#main_navigation a:hover {
	background-position: 50% 100%;
}

#main_navigation a span{
	display: none;
}

#main_navigation .selected {
	background-position: 50% 100%;
}


.nav_home {
	background-image:url(images/navigation/home.png);
	width: 58px;
}

.nav_wiki {
	background-image:url(images/navigation/wiki.png);
	width: 50px;
}

.nav_bugzilla {
	background-image:url(images/navigation/bugzilla.png);
	width: 79px;
}

.nav_planet {
	background-image:url(images/navigation/planet.png);
	width: 68px;
}

.nav_projects {
	background-image:url(images/navigation/projects.png);
	width: 81px;
}

.nav_lists {
	background-image:url(images/navigation/lists.png);
	width: 53px;
}


.clear {
	clear: both;
}

#footer {	
	text-align: center;
	background: #FAFAFA;
	border-top: 1px solid #CCC;
	padding: 5em 0 4em 0;
	margin: 0 0 20px 0;
	font-size: 0.9em;
	color: #666666;
}

#secundary_navigation {
	margin: 0;
	padding: 0 0 2em 0;
	text-transform: uppercase;
	margin: 0 auto;
}

#secundary_navigation li {
	background: none;
	padding: 0;
	display: inline;
	margin: 0 1em;
}

#secundary_navigation .selected {
	font-weight: bold;
	color: #FF6600;
}


#home_banner {
	height: 400px;
	background: url(images/home_banner.png) no-repeat left bottom;
	position: relative;
}

#home_banner h1 {
	display: none;
}

#home_banner h2 {
	color: #FFF;
	font-weight: normal;
	position: absolute;
	top: 158px;
	left: 380px;
	width: 510px;
	line-height: 1.5em;
}

#home_container {
	padding: 0px 0px 0px 0px;
}

#home_container .clear {
	height: 50px;
}

.column_container .clear {
	height: 10px !important;
}

#home_container h3 {
	height: 93px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background: url(images/home_title.png) no-repeat;
}

#home_container h3 span {
	display: none;
}

#home_container .column_container {
	background: url(images/home_background.png) repeat-y top left;
}

#home_container .column_container .column {
	width: 173px;
	margin-right:1px;
	padding: 10px 8px;
	
	float: left;
	font-size: 0.9em;
	line-height: 1.5em;
	overflow: hidden;
}

#home_container .column_container .column p {
	margin: 0px;
	padding: 9px 5px;
}

#home_container .column_container a {
	color: #FF6600;
	padding: 0px 5px;
}

#home_container .column_container a:hover {
	color: #333;
}

.section_wiki {
	background-image:url(images/sections/openmoko_wiki.png);
}

.section_projects {
	background-image:url(images/sections/openmoko_projects.png);
}

.section_lists {
	background-image:url(images/sections/openmoko_lists.png);
}

.section_bugzilla {
	background-image:url(images/sections/openmoko_bugzilla.png);
}

.section_planet {
	background-image:url(images/sections/openmoko_planet.png);
}

.img_button {
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}

/*.img_button:hover {
	background-position: left bottom;
}*/

.img_button span {
	display: none;
}

.column_container .img_button {
	height: 25px;
	padding: 0px;
}

.normal_state .img_button{
	background-position: left top;
}

.hover_state .img_button {
	background-position: left bottom;
}
