html,body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #333;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.1em
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #FF6600;
}

img {
	border: none;
}

ul {
	margin: 0 0 0 0.5em;
	padding: 0 0 0 0;
	list-style: none;
}

ul li {
	background: url(images/list_bullet.png) no-repeat 0 0.5em;
	padding-left: 0.7em;
	margin-bottom: 0.4em;
}

#wrapper {
	width: 950px;
	margin: 0px auto;
}

#header {
	height: 90px;
	position: relative;
}

#site_logo {
	position: absolute;
	top: 29px;
	left: 10px;
}

/**************/
/* NAVIGATION */
/**************/

#main_navigation {
	float: right;
	position: absolute;
	top: 38px;
	right: 5px;
}

#main_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_navigation ul li {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}



#main_navigation a {
	float: left;
	display: block;
	height: 11px;
	background-position: 50% 0%;
	background-repeat:no-repeat;
}

#main_navigation a:hover {
	background-position: 50% 100%;
}

#main_navigation a span{
	display: none;
}

#main_navigation .selected {
	background-position: 50% 100%;
}


.nav_home {
	background-image:url(images/navigation/home.png);
	width: 58px;
}

.nav_about {
	background-image:url(images/navigation/about.png);
	width: 64px;
}

.nav_products {
	background-image:url(images/navigation/products.png);
	width: 86px;
}

.nav_developers {
	background-image:url(images/navigation/developers.png);
	width: 98px;
}

.nav_network {
	background-image:url(images/navigation/network.png);
	width: 83px;
}

.nav_press {
	background-image:url(images/navigation/press.png);
	width: 58px;
}

.nav_careers {
	background-image:url(images/navigation/careers.png);
	width: 76px;
}

.nav_contact {
	background-image:url(images/navigation/contact.png);
	width: 79px;
}

/****************/
/* MIDDLE BLOCK */
/****************/

#middleblock {
	background: #080808 url(images/middleblock_tile.png) repeat-x 0% 0%;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}

#middleblock_inner {
	background:url(images/middleblock_left.png) no-repeat 0% 0%;
}

#middleblock_inner2 {
	background:url(images/middleblock_right.png) no-repeat 100% 0%;
	min-height: 300px;
}

#middleblock_container {
	min-height: 300px;
}

#middleblock_tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.1em;
	display: block;

	position: relative;
	top: 1px;
	
	margin-left: 348px;
}

#middleblock_tabs li {	
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}

#middleblock_tabs li a {
	float: left;
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin-right: 5px;
}

#middleblock_tabs li a span {
	display: block;
	padding: 0.5em 0.8em 0.5em 0.9em;
}

#middleblock_tabs li a:hover {
	color: #FF6600;
	background:#FFF url(images/middleblock_tabs_left.png) no-repeat 0% 0%;
}

#middleblock_tabs li a:hover span {
	background:url(images/middleblock_tabs_right.png) no-repeat 100% 0%;
}

#middleblock_tabs li .selected {
	color: #FF6600;
	background:#FFF url(images/middleblock_tabs_left.png) no-repeat 0% 0%;
}

#middleblock_tabs li .selected span {
	background:url(images/middleblock_tabs_right.png) no-repeat 100% 0%;
}

.main_container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.clear {
	clear: both;
}


#left_column {
	width: 303px;
	padding-left: 45px;
	float: left;
}

#left_column h3 {
	margin: 0 0 1.1em 0;
	padding: 0;
}

#right_column {
	margin-left: 350px;
}

#footer {	
	text-align: center;
	background: #FAFAFA;
	border-top: 1px solid #CCC;
	padding: 5em 0 4em 0;
	margin: 0 0 20px 0;
	font-size: 0.9em;
	color: #666666;
}

#secundary_navigation {
	margin: 0;
	padding: 0 0 2em 0;
	text-transform: uppercase;
	margin: 0 auto;
}

#secundary_navigation li {
	background: none;
	padding: 0;
	display: inline;
	margin: 0 1em;
}

#secundary_navigation .selected {
	font-weight: bold;
	color: #FF6600;
}



/***********/
/* CONTENT */
/***********/

.content {
	line-height: 1.5em;
	padding-bottom: 20px;
}

.content p {
	margin: 0;
	padding: 0.6em 0;
}

.content ul,
.content ol {
	padding: 0.9em 0 0.8em 2em;
}

.content blockquote {
	margin: 0;
	padding: 0.6em 0 0.6em 2em;
	color: #999;
}

.content h2 {
	margin: 0;
	padding: 0 0 0.5em 0;
}

.content .title_container {
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0 0.7em 0;
}

.content img {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin: 0 1em 1em 0;
}