#middleblock_container {
	height: 380px;
}

#middleblock_tabs {
	bottom: 89px;
}

#middleblock_tabs li a {
	position: relative;
}

.banner_images {
	width: 10px;
}

.shadow {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://38one.servehttp.com/openmoko/images/product_bottom_shadow.png',sizingMethod='scale');
}

.button_enlarge {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://38one.servehttp.com/openmoko/images/button_enlarge.png',sizingMethod='scale');
	top: 50%;
	cursor: pointer;
}

.content p,
.content ul,
.content ol {
/*	font-size: 12px;*/
}


.banner_product_thumbs li {
	background: none;
}

.accessories_container .column1 {
	margin-left: 5px;
}

.accessory_container {
	height: 150px;
}

.accessories_container .description {
	height: 90px;
}

#accessories_tabs a {
	position: relative;
	bottom: 0px;
}

.accessory_block_alternative #article_description {
	height: 200px;
	overflow:visible;
	margin-left: 200px !important;
}

.top_link_alt {
	margin-top: 15px;
}

.accessories_listing .pagination {
	top: -5px;
}

.single_accessory {
	position: relative;
	width: 155px;
}

.single_accessory_0 {
	margin-left: 6px;
}

.home_quote {
	left: -5px;
}

#home_banner h1{
	/*top: 80px;*/
}