html {
	background: #FFFFFF;
}

body,html {
	margin: 0px 0px;
	padding: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #333;
/*	background: #F1F1F1 none repeat scroll 0%;*/
	font-size: 1em;
}

body {
	margin: 0px 20px;
}

pre {
	font-family:"Lucida Console", "Courier New", Courier, mono;
	color: #333;
}

fieldset {
	border: 1px solid #ddd;
	padding: 5px 13px;
}

h1 {
	font-size: 1.6em !important;
}

a {
	color: #ff6600;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
	text-decoration: underline;
}

img {
	border: none;
}

table {
/*	border-collapse: collapse;*/
	border-color: #ddd;
}

label {
	font-size: 1.2em !important;
}

/*.header {
	margin: 0px 0px 0px 0px;
	padding: 0px 20px;
	background:#3f3f3f;
	text-align: right;
}

.header .logo {
	float: left;
	margin: 15px 0px 0px 0px;
}



.header .version {
	margin: 0px 0px 0px 200px;
	color: #FFF;
	padding: 25px 0px 20px 0px;
	display: block;
	font-size: 0.7em;
}*/



.page_title {
	clear: both;
	background: #eee;
	padding: 7px 10px 7px 37px;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
}



hr {
	height: 1px;
	border: none;
	background: #eee;
}

.footer {
 	border-top: 1px solid #DDDDDD;
	background: #FAFAFA;
	padding: 20px 0px;
	margin: 20px 0px;
	text-align: center;
	font-size: 0.7em;
	color: #666666;
}

.footer .group {
	margin: 0px;
	padding: 5px 0px;
}

.container {
	margin: 0px 20px;
	font-size: 0.9em !important;
}

.container table{

	font-size: 0.9em !important;
}

.selected_tab {
	background: #eee !important;
	border-width: 1px !important;
	border-bottom: none !important;
	border-color: #888 !important;
}

.unselected_tab {
	background: #fafafa !important;
	border-width: 1px !important;
	border-color: #888 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.spacer {
	border-width: 1px !important;
	border-color: #888 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important
}

/**************/
/* NAVIGATION */
/**************/

#header {
	height: 90px;
	position: relative;
}

#site_logo {
	position: absolute;
	top: 29px;
	left: 10px;
}

#main_navigation {
	float: right;
	position: absolute;
	top: 38px;
	right: 5px;
}

#main_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_navigation ul li {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}



#main_navigation a {
	float: left;
	display: block;
	height: 11px;
	background-position: 50% 0%;
	background-repeat:no-repeat;
}

#main_navigation a:hover {
	background-position: 50% 100%;
}

#main_navigation a span{
	display: none;
}

#main_navigation .selected {
	background-position: 50% 100%;
}


.nav_home {
	background-image:url(images/navigation/home.png);
	width: 58px;
}

.nav_wiki {
	background-image:url(images/navigation/wiki.png);
	width: 50px;
}

.nav_bugzilla {
	background-image:url(images/navigation/bugzilla.png);
	width: 79px;
}

.nav_planet {
	background-image:url(images/navigation/planet.png);
	width: 68px;
}

.nav_projects {
	background-image:url(images/navigation/projects.png);
	width: 81px;
}

.nav_lists {
	background-image:url(images/navigation/lists.png);
	width: 53px;
}

.spacing_right {
	padding-right: 5px;
}

.spacing_right_tr td {
	padding-right: 5px;
}