html,body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, Helvetica, sans-serif !important;
	font-size: 1em;
	color: #333;
	text-align: center;
}

table {
	font-size: 12px;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.1em
}

a {
	color: #FF6600;
	text-decoration: none;
}

a:hover {
	color: #FF6600;
	text-decoration: underline;
}

img {
	border: none;
}

ul {
	margin: 1 0 0 1.5em;
	padding: 0 0 0 0;
	list-style: none;
}

ul li {
	background: url(images/list_bullet.png) no-repeat 0 0.5em;
	padding-left: 0.7em;
	margin-bottom: 0.1em;
}

#wrapper {
	width: 950px;
	margin: 0px auto;
	position:relative;
	text-align: left;
}

#header {
	height: 121px;
	position: relative;
	background:url(images/navigation_background.png) no-repeat 0 0;
	margin-bottom: 10px;
}

#site_logo {
	position: absolute;
	top: 41px;
	left: 25px;
}

/**************/
/* NAVIGATION */
/**************/

#main_navigation {
	float: right;
	position: absolute;
	top: 42px;
	right: 15px;
}

#main_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_navigation ul li {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}



#main_navigation a {
	float: left;
	display: block;
	height: 11px;
	background-position: 50% 0%;
	background-repeat:no-repeat;
	margin-left: 10px;
}

#main_navigation a:hover {
	background-position: 50% 100%;
}

#main_navigation a span{
	display: none;
}

#main_navigation .selected {
	background-position: 50% 100%;
}


.nav_home {
	background-image:url(images/navigation/home.png);
	width: 58px;
}

.nav_about {
	background-image:url(images/navigation/about.png);
	width: 64px;
}

.nav_products {
	background-image:url(images/navigation/products.png);
	width: 86px;
}

.nav_developers {
	background-image:url(images/navigation/developers.png);
	width: 98px;
}

.nav_network {
	background-image:url(images/navigation/network.png);
	width: 83px;
}

.nav_press {
	background-image:url(images/navigation/press.png);
	width: 58px;
}

.nav_careers {
	background-image:url(images/navigation/careers.png);
	width: 76px;
}

.nav_contact {
	background-image:url(images/navigation/contact.png);
	width: 79px;
}

.nav_shop {
	background-image:url(images/navigation/shop.png);
	width: 55px;
}

/****************/
/* MIDDLE BLOCK */
/****************/

#middleblock {
	background: #080808 url(images/middleblock_tile.png) repeat-x 0% 0%;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}

#middleblock_inner {
	background:url(images/middleblock_left.png) no-repeat 0% 0%;
}

#middleblock_inner2 {
	background:url(images/middleblock_right.png) no-repeat 100% 0%;
	min-height: 300px;
}

#middleblock_container {
	min-height: 300px;
}

#middleblock_tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.1em;
	display: block;

	position: relative;
	top: 1px;
	
	margin-left: 348px;
}

#middleblock_tabs li {	
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}

#middleblock_tabs li a {
	float: left;
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin-right: 5px;
}

#middleblock_tabs li a span {
	display: block;
	padding: 0.5em 0.8em 0.5em 0.9em;
}

#middleblock_tabs li a:hover {
	color: #FF6600;
	background:#FFF url(images/middleblock_tabs_left.png) no-repeat 0% 0%;
}

#middleblock_tabs li a:hover span {
	background:url(images/middleblock_tabs_right.png) no-repeat 100% 0%;
}

#middleblock_tabs li .selected {
	color: #FF6600;
	background:#FFF url(images/middleblock_tabs_left.png) no-repeat 0% 0%;
}

#middleblock_tabs li .selected span {
	background:url(images/middleblock_tabs_right.png) no-repeat 100% 0%;
}

.main_container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.clear {
	clear: both;
}


#left_column {
	width: 303px;
	padding-left: 45px;
	float: left;
}

#left_column h3 {
	margin: 0 0 1.1em 0;
	padding: 0;
}

#right_column {
	margin-left: 350px;
}

#footer {	
	text-align: center;
	background: #FAFAFA;
	border-top: 1px solid #CCC;
	padding: 5em 0 4em 0;
	margin: 0 0 20px 0;
	font-size: 0.8em;
	color: #666666;
}

* html #footer {
	font-size: 0.7em;
}


#footer a {
	color: #333;
}

#footer a:hover {
	text-decoration: none;
	color: #FF6600;
}

#secundary_navigation {
	margin: 0;
	padding: 0 0 2em 0;
	text-transform: uppercase;
	margin: 0 auto;
}

#secundary_navigation li {
	background: none;
	padding: 0;
	display: inline;
	margin: 0 1em;
}

#secundary_navigation .selected {
	font-weight: bold;
	color: #FF6600;
}



/***********/
/* CONTENT */
/***********/

.content {
	line-height: 1.5em;
	padding-bottom: 20px;
}

.content p {
	margin: 0;
	padding: 0.6em 0;
}

.content ul,
.content ol {
	padding: 0.9em 0 0.8em 2em;
}

.content blockquote {
	margin: 0;
	padding: 0.6em 0 0.6em 2em;
	color: #999;
}

.content h2 {
	margin: 0;
	padding: 0 0 0.5em 0;
}

.content .title_container {
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0 0.7em 0;
}

.content img {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin: 0 1em 1em 0;
}

.toptab {
	background: #333 url(images/toptab_left.png) no-repeat 0 100%;
	float: right;
	font-size:0.76em;
	color: #999999;
	margin-left: 7px;
	position: relative;
	z-index: 100;
}

.toptab .inner {
	background:url(images/toptab_right.png) no-repeat 100% 100%;
	padding: 2px 5px 2px 15px;
	position: relative;
}

.toptab a {
	color: #999;
	margin-right: 10px;
}

.toptab a:hover {
	color: #FF6600 !important;
	text-decoration: none;
}


.buton_decrease_font{
	display: block;
	width: 11px;
	height: 8px;
	background:url(images/icons/icon_decrease_font.png) no-repeat 0% 0%;
}

.buton_decrease_font:hover{
	background-position:0% 100%;
}

.buton_decrease_font span {
	display: none;
}

.decrease_font,
.increase_font {
	font-weight: bold;
	color: #666 !important;
	font-size: 0.8em;
	margin-left: 5px;
}

.top_tabs_container {
	position: absolute;
	top: 0px;
	z-index: 10000;
	padding-right: 20px;
}

* html .top_tabs_container {
	font-size: 0.9em;
}

.oscommerce_copyright br {
	display: none;
}

.oscommerce_copyright font {
	color: #666;
}

.oscommerce_copyright a {
	margin-right: 3px;
}

.left_container {
	width: 200px;
	float: left;
	padding-top: 28px;
	padding-left: 15px;
}

.sidebox {
	width: 189px;
	margin: 0 0 30px 0;
	background:url(images/sidebox_tile.png) repeat-y 0 0;
}

.sidebox .inner {
	background:url(images/sidebox_top.png) no-repeat 0 0;
}

.sidebox .inner_2 {
	background:url(images/sidebox_bottom.png) no-repeat 0 100%;
	padding: 7px;
}

.sidebox .input_text {
	width: 145px;
	margin-bottom: 10px;
}

.sidebox form {
	margin-left: 8px;
}

.sidebox h2 {
	margin: 0px;
	padding: 5px 0px 0px 10px;
	font-size: 13px;
}

.sidebox h2 a {
	background: url(images/sidebox_h2.gif) no-repeat 0 4px;
	padding-left: 15px;
}

.sidebox table,
.sidebox table tr,
.sidebox table td {
	border-color: #CCCCCC !important;
}

.sidebox a {
	color: #FF6600;
}

.sidebox a:hover {
	text-decoration: underline;
}

#searchform {
	position: relative;
	margin: 0;
	padding: 24px 0 1px 0;
	background:url(images/label/search_openmoko_gray.png) no-repeat 0 8px;
}

#searchform label {
	display: none;
}

#searchform .input_text {
	width: 135px;
	margin-bottom: 0px;
}

#searchform .input_submit {
	position: absolute;
	left: 142px;
	top: 20px;
}


.side_banner {
	margin: 0 0 30px 0;
	display:block;
	width: auto;
}

.banner_images {
	position: absolute;
	left: 86px;
	top: 50px;
	width: auto;
	overflow:visible;
}

.banner_images div {
	position: relative;
}

.right_container {
	width: 726px;
	margin: 0 0 0 auto;
	font-size: 0.8em !important;
}

.my_account_info {
	list-style:none;
	margin: 0px 0px 0px 9px;
	padding: 0px;
}

.my_account_info li {
	
}

.my_account_info li a {
	color: #FF6600;
}

.my_account_info li a:hover {
	text-decoration: underline;
}

.main_table_heading_inner {
	background: #f1f1f1;
}

.pageHeading {
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}

.shop_breadcrumb {
	display: block;
	width: 699px;
	height: 17px;
	/*background: url(images/breadcrumbs_back.gif) no-repeat 0 0;*/
	background: url(images/sidebox_h2.gif) no-repeat 13px 1px;
	margin-left: 0px;
	border-bottom: #eee;
	margin-bottom: 5px;

	padding: 0px 0px 0px 27px;
}

.sh_right_block {
	width: 696px;
}

.product_list_table_1 {
	border-right: 1px solid #ccc;
}
.product_list_table_1,
.product_list_table_2,
.product_list_table_3,
.product_list_table_4 {
	width: 340px;
	height: 130px;
}

.plist_name {
	display: block;
	background: url(images/sidebox_h2.gif) no-repeat 0 3px;
	font-weight: bold;
	padding: 0px 0px 0px 14px;
}

.plist_name a {
	color: #FF6600;
}

.plist_name a:hover {
	text-decoration: underline;
}

.plist_price {
	display: block;
	font-weight: bold;
	padding: 7px 0px 7px 14px;
}

.plist_button {
	margin-left: 14px;
}

.product_list_col1 {
	width: 150px;
	text-align: center;
	vertical-algin: center;
}

.product_list_col2 {
	vertical-algin: center;
}

.productListing-data {
	border-top: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.category_desc {
	display: none;
}

.breadcrumb_arrow {
	position: relative;
	top: -1px;
}

.pagination {
	/*border-top: 1px solid #CCCCCC;
	padding-top: 10px;
	text-align: center;
	font-size: 0.9em;*/
	font-size: 11px;
	padding: 10px 5px 10px;
}

.pagination .selected {
	color: #FF6600;
}

.pagination a {
	color: #444;
	margin-right: 5px;
	padding-bottom: 2px;
}

.pagination a:hover {
	color: #FF6600;
	text-decoration: none;
}

.pag_first {
	background:url(images/icons/icon_first.png) no-repeat 0 2px;
	padding-left: 14px;
	margin-right: 20px !important;
}

.pag_previous {
	background:url(images/icons/icon_previous.png) no-repeat 0 2px;
	padding-left: 14px;
	margin-right: 20px !important;
}


.pag_next {
	background:url(images/icons/icon_next.png) no-repeat right 2px;
	padding-right: 14px;
	margin-left: 15px !important;
}

.pag_last {
	background:url(images/icons/icon_last.png) no-repeat right 2px;
	padding-right: 14px;
	margin-left: 20px !important;
}

.pagination .disabled {
	color: #aaa !important;
}

.pagination .disabled:hover {
	color: #aaa !important;
} 

.bottom_pagination_table {
	border-top: 1px solid #ccc;

}

.main_category {
	position: relative;
}

.main_category h3 a,
.shop_home_column a {
	font-size: 17px;
	color: #FF6600;
}

.shop_home_h3 {
	font-size: 17px;
	color: #FF6600;
	width: 308px;
	border-bottom: 1px solid #CCC;
	float: left;
	padding: 0px 20px 10px;
}

* html .shop_home_h3 {
	width: 348px;
	margin-bottom: 15px;
}

.main_category h3 a:hover {
	text-decoration: underline;
}

.main_categories_description {
	margin-top: 340px;
	color: #666666;
	font-weight: bold;
	font-size: 13px;
}

.shop_home_column .main_categories_description {
	margin-top: 310px;
	font-weight: normal;
	font-size: 14px;
}

.main_categories_description b,
.main_categories_description strong {
	color: #333;
	font-size: 14px;
	display: block;
	padding-bottom: 5px;
}


.main_category_25 {
	width: 325px;
	height: 602px;
	background: url(images/main_category_accessories.png) no-repeat 50% 50px;
	float: left;
	margin-left: 20px;
}

.main_category_24 {
	width: 325px;
	height: 602px;
	background: url(images/main_category_phones.png) no-repeat 45% 50px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
	float: left;
}

.shop_home_column {
	width: 308px;
	height: 482px;
	background: url(images/main_category_phones.png) no-repeat 45% 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
	float: left;
	padding: 0px 20px;
}

.shop_home_column_right {
	border-right: 0px;
	background: url(images/neo_advanced.png) no-repeat 55% 10px;
}

* html .shop_home_column {
	width: 348px;
}

.button_buy_it_now {
	background:url(images/button_buy.png) no-repeat 0 0;
	height: 20px;
	width: 65px;
	margin-top: 20px;
}


.button_24 {
	display:block;
	width: 79px;
	height: 22px;
	background: url(images/buttons/button_products.png) no-repeat 0 0;
	margin-top: 25px;
}

.button_25 {
	display:block;
	width: 95px;
	height: 22px;
	background: url(images/buttons/button_accessories.png) no-repeat 0 0;
	margin-top: 25px;
}

.img_button {
	display: block;
	background-position: left top;
}

.img_button:hover {
	background-position: left bottom;
}


.img_button span {
	display:none;
}

.productTableTitle {
	display: none;
}

.productTableBody {
	line-height: 160%;
}

.productTablePurchase {
	border-top: 1px solid #ccc;
	padding: 20px 0px 0px;
}

.quantity_input {
	margin: 0px 8px 0px 8px;
	position: relative;
	top: 2px;
}

.productName {
	font-size: 1.5em;
}

.productPrice {
	border-top: 1px solid #e6e6e6;
	margin-top: 15px;
	padding-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

.productPrice span {
	color: #FF6600;
}

.back_to_parent {
	padding: 10px 0px 0px 0px;

}

.productContainer {
	width: 380px !important;
}

.cartlisting {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.cartlisting a {
	background: url(images/sidebox_h2.gif) no-repeat 0px 3px;
	padding-left: 14px;
}

.cartimage {
	width: 160px;	
	text-align: center;
}

.cartimage a {
	background: none;
	padding: 0px;
}

.cart_delete_col {
	width: 20px !important;
	text-align: center;
}

.cart_price {
/*	color: #FF6600;*/
	text-align: right;
}

.carttotal {
	border-top: 3px double #ccc;
	font-weight: bold;
}

.carttotal span {
	color: #FF6600;
}

.stockWarning {
	text-align: left;
	font-size: 0.9em;
	color: #666666;
}

.cartoptions {
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

.cart_shipping_estimator {
	border: 1px solid #ccc;
	background: #FAFAFA;
	padding: 10px 0px 0px 10px
}

.estimator_title {
	border-bottom: 1px solid #ccc;
	padding: 0px 0px 5px 0px;
	margin-right: 8px;
	font-weight: bold;
	font-size: 1.1em;
}

.my_account_title {
	font-size: 1.2em;
	/*border-bottom: 1px solid #ccc;*/
	padding: 0px 0px 3px 0px;
	font-weight: bold;
}

.my_account_links {
	margin-left: 0px;
	margin-top: -10px;
}

.my_account_links ul li {
	margin-bottom: 4px;
}

.requiredWarning {
	text-align: left;
	font-size: 0.9em;
	color: #666666;
	margin-top: 15px;
}

.form_table td {
	padding-bottom: 7px;
}

.simple_first_row {
	width: 200px;
}

.primary_address {
	border: 1px solid #ccc;
	background: #FAFAFA;
	width: 250px;
	padding: 8px 15px;
	text-align: left;
	position: relative;
	top: -15px;
}

.primary_address span.title {
	display:block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 0px 0px 4px 0px;
	display:none;
	margin-bottom: 5px;
}

.visible {
	display: block !important;
}

.primary_address span.data {
	display: block;
	margin-top: 0px;
	padding-left: 8px;
	line-height: 140%;
}

.moduleRow td {
	border-bottom: 1px solid #eee !important;
}

.single_address {
	padding-bottom: 20px;
}

.inputRequirement {
	color: #FF0000;
	font-weight: bold;
	font-size: 11px;
}

.price {
	color: #FF6600;
	font-weight: bold;
}

.orders_view_button {
	position: relative;
	top: 4px;
}

.moduleRowSpacing td {
	padding: 5px 0px;
}

.underlined {
	border-bottom: 1px solid #ddd;
}

.bulleted {
	background: url(images/list_bullet.png) no-repeat 0 8px;
	padding-left: 7px;
}

.idented {
	padding-left: 7px;
}

.noborder {
	border: 0px !important;
}

.noborder td {
	border: 0px !important;
}

.checkout_shipping_method_header {
	/*border-bottom: 3px double #bbb;*/
	border-bottom: 1px solid #bbb;
	padding-bottom: 5px;
}

.checkout_shipping_method_footer {
	border-top: 1px solid #bbb;
}

.checkout_shipping_method_footer_alt {
	border-bottom: 1px solid #bbb;
}

.checkout_shipping_option {
	margin-bottom: 10px;
	margin-top: 5px;
	padding-bottom: 8px;
	/*border-bottom: 1px solid #ddd;*/
}

.checkout_textarea {
	text-align: center;
}


.checkout_textarea textarea {
	width: 90%;
	margin: 0px auto;
}

.checkoutBarTo,
.checkoutBarCurrent {
	padding-top: 5px;
}

.checkoutBarCurrent {
	font-weight: bold;
}

.checkout_option {
	border-top: 15px solid white;
}

.checkoutTable .moduleRow td {
	border-bottom: 1px solid #ddd;
	padding: 5px 0px 3px 0px;
	border-top: 20px solid white;
	background: #FAFAFA;
}

.checkoutTable .moduleRowSelected td {
	border-bottom: 1px solid #bbb;
	padding: 5px 0px 3px 0px;
	border-top: 20px solid white;
	background: #EEE;
}

.descc .main {
	font-size: 10px;
}

.supp .main {
	font-size: 1.2em;
	/*border-bottom: 1px solid #ccc;*/
	padding: 0px 0px 3px 0px;
	font-weight: bold;
}

.ccards1 {
	width: 50% !important;
}

.ccards2 {
	width: 50% !important;
	padding-bottom: 8px;
}

.ccards2 td {
	
}

.bordered {
	border-bottom: 1px solid #ccc;
}

.bordered1 {
	border-bottom: 1px solid #e2e2e2;
}


.bordered2 {
	border-top: 1px solid #e2e2e2;
}

td.headerError {
	border: 1px solid #AB0000;
	background: #FFCFCF;
	line-height: 150%;
	padding: 10px 20px;
	color: #AB0000;
	margin-bottom: 10px;
}

tr.headerError {
	padding: 10px;
	
}

.reviewTitle {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	font-size: 1.1em;
	padding-bottom: 2px;
}

.reviewRating {
	float: right;
	font-size: 0.9em;
	padding-bottom: 2px
}

.reviewRating img {
	position: relative;
	top: 2px;
}

.reviewAdded {
	margin-top: 8px;
	color: #999;
	font-size: 0.9em;
	margin-bottom: 20px;
}

.review_product_box {
	text-align: center;
	border: 1px solid #ccc;
	background: #FAFAFA;
	padding: 10px 40px;
}

.review_addtocart {
	margin-top: 20px;
}

.reviewExcerpt {
	line-height: 145%;
}

.reviewMain {
	line-height: 145%;
}

.review_header {
	/*border-bottom: 1px solid #ccc;*/
	padding-bottom: 4px;
}

.review_header_date {
	font-size: 0.9em;
}

.somenote {
	border: 1px solid #ccc;
	background: #FAFAFA;
	padding: 10px 15px;
}

.login_col1 {
	/*width: 140px;*/
}

.total_input input {
	width: 100%;
}

.alt_pag {
	font-size: 0.9em;
}

.send_to_friend_form {
	padding-top: 8px;
}

.send_to_friend_form .label {
	display:block;
	padding-bottom: 5px;
}

.send_to_friend_form .input_text {
	width: 75%;
}

.send_to_friend_form .submit {
	position: relative;
	top: 4px;
	margin-left: 2px;
}

.send_to_friend_text textarea{
	width: 100%;
	margin-top: 10px;
}

.send_to_friend_links br {
	display: none;
}

.send_to_friend_links a {
	margin-left: 10px;
	margin-top: 5px;
	display:block;
	background: url(images/list_bullet.png) no-repeat 0px 5px;
	padding-left: 7px;
}