/* stylesheet for orderlist */
body, html {
margin: 0;
padding: 1em 0;
text-align: center;
font-family: arial, sans-serif;
font-size: 79%;
}
table {
margin: 1em auto;
border: 1px solid #e00;
width: 95%;
font-size: 1em;
}
td {
padding: 0.2em 0.3em;
font-size: 1em;
}
td {
border: 1px solid #aaa;
white-space: nowrap;
color: black;
background: #f6f6f6;
}
tr.headers td {
color: black;
background: #fe6;
white-space: nowrap;
border: 1px #aaa solid;
font-weight: bold;
text-align: center;
}
tr.headers td.orderStatus{
background: #eee;
text-align: right;
}
h1 {
color: #09c;
font-size: 2.5em;
background: #eee;
border: solid #e00 1px;
border-width: 2px  0;
width: 6em;
margin: 0 auto;
}
td.orderNr, td.price, td.qty {
text-align: right;
}
span.orderStat {
color: #d00;
}
span.date {
float: left;
}
/* column width's (should add up to 100%) */
td.orderNr, td.price {
width: 7%;
}
td.model {
width: 20%;
}
td.name {
width: 30%;
}
td.qty, td.chk {
width: 5%;
}
td.notes {
width: 26%
}
@media print {
  body, html, table {
  font-size: 7pt;
  }
}
