html,body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333;
	padding: 0px 10%;
	color: #333 !important;
}

.main_container {
	font-size: 1em;
}

* html .main_container {
	font-size: 0.9em;
}

img {
	border: none;
}

li {
	margin: 0.3em 0em;
}

h1 {
	font-size: 1.8em;
}

a {
	color: #FF6600;
	text-decoration: none;
}

a:hover {
	color: #333333;
}

hr {
	height: 1px;
	border: 0px;
	background: #C0C0C0;
}

#header {
	height: 90px;
	position: relative;
	border-bottom: 1px solid #C0C0C0;
}

#site_logo {
	position: absolute;
	top: 29px;
	left: 10px;
}

/**************/
/* NAVIGATION */
/**************/

#main_navigation {
	float: right;
	position: absolute;
	top: 38px;
	right: 5px;
}

#main_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_navigation ul li {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}



#main_navigation a {
	float: left;
	display: block;
	height: 11px;
	background-position: 50% 0%;
	background-repeat:no-repeat;
}

#main_navigation a:hover {
	background-position: 50% 100%;
}

#main_navigation a span{
	display: none;
}

#main_navigation .selected {
	background-position: 50% 100%;
}


.nav_home {
	background-image:url(images/navigation/home.png);
	width: 58px;
}

.nav_wiki {
	background-image:url(images/navigation/wiki.png);
	width: 50px;
}

.nav_bugzilla {
	background-image:url(images/navigation/bugzilla.png);
	width: 79px;
}

.nav_planet {
	background-image:url(images/navigation/planet.png);
	width: 68px;
}

.nav_projects {
	background-image:url(images/navigation/projects.png);
	width: 81px;
}

.nav_lists {
	background-image:url(images/navigation/lists.png);
	width: 53px;
}

.page_title {
	padding: 0px;
}

.page_title h2 {
	margin: 0px;
	padding: 10px;
	font-size: 1.1em;
	background: #EEEEEE;
}

.page_subtitle {
	padding: 0px;
}

.page_subtitle h3 {
	font-size: 1em;
	border-bottom: 1px solid #ddd;
	margin: 0px;
	padding: 5px 10px;
	font-size: 1em;
	background: #fafafa;
}

.subscribe_to_list {
	padding: 10px 0px 10px 20px;
	margin-left: 3em;
}

.subscribe_to_list .column_1 {
	width: 540px !important;
}

.subscribe_to_list .notes {
	font-size: 0.9em;
	margin: 9px 0px 9px 20px;
}

.subscribe_to_list .notes p {
	margin: 0px;
	padding: 2px 0px;
}

.subscribe_to_list table {
	width: 800px;
	font-size: 0.95em;
}

.subscribe_to_list table td {
	padding: 2px 10px;
}

