<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>openmoko.com: Shop</title>
    
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    
    <!--[if gt IE 6]>
            <link rel="stylesheet" type="text/css" href="./ie7fix.css" media="screen" />
            <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    <!--[if lte IE 6]>
            <link rel="stylesheet" type="text/css" href="./ie6fix.css" media="screen" />
            <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    
    <link href="/print.css" rel="stylesheet" type="text/css" media="print" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<div id="wrapper">
	<div id="header" class="header_press ">
		<a href="#" id="site_logo"><img src="/images/openmoko_logo.png" alt="openmoko.com" /></a>
		
		<div id="main_navigation">
			<ul>
				<li><a href="http://www.openmoko.com/index.html" class="nav_home"><span>Home</span></a></li>
				<li><a href="http://www.openmoko.com/products-index.html" class="nav_products"><span>Products</span></a></li>
				<li><a href="https://direct.openmoko.com" class="nav_shop selected"><span>Shop</span></a></li>
				<li><a href="http://www.openmoko.com/about-index.html" class="nav_about"><span>About</span></a></li>
				<li><a href="http://www.openmoko.com/press-index.html" class="nav_press"><span>Press</span></a></li>
				<li><a href="http://www.openmoko.com/careers-index.html" class="nav_careers"><span>Careers</span></a></li>
				<li><a href="http://www.openmoko.com/contact-index.html" class="nav_contact"><span>Contact</span></a></li>
			</ul>

		</div>
	</div>
		
	<div class="right_container">
    	<form name="order_form" id="order_form" action="/cgi-bin/order.cgi" method="post">
	<input name="quantity_basic_black" class="text" type="hidden" value="<TMPL_VAR NAME=quantity_basic_black ESCAPE=1>" />
	<input name="quantity_basic_orange" class="text" type="hidden" value="<TMPL_VAR NAME=quantity_basic_orange ESCAPE=1>" />
	<input name="quantity_advanced_black" class="text" type="hidden" value="<TMPL_VAR NAME=quantity_advanced_black ESCAPE=1>" />
	<input name="quantity_advanced_orange" class="text" type="hidden" value="<TMPL_VAR NAME=quantity_advanced_orange ESCAPE=1>" />
	<input name="shipping_name" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_name ESCAPE=1>" />
	<input name="shipping_company" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_company ESCAPE=1>" />
	<input name="shipping_address1" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_address1 ESCAPE=1>" />
	<input name="shipping_address2" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_address2 ESCAPE=1>" />
	<input name="shipping_zip" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_zip ESCAPE=1>" />
	<input name="shipping_city" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_city ESCAPE=1>" />
	<input name="shipping_state" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_state ESCAPE=1>" />
	<input name="shipping_country" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_country ESCAPE=1>" />
	<input name="shipping_phone" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_phone ESCAPE=1>" />
	<input name="shipping_email" class="text" type="hidden" value="<TMPL_VAR NAME=shipping_email ESCAPE=1>" />
	<input name="billing_name" class="text" type="hidden" value="<TMPL_VAR NAME=billing_name ESCAPE=1>" />
	<input name="billing_company" class="text" type="hidden" value="<TMPL_VAR NAME=billing_company ESCAPE=1>" />
	<input name="billing_address1" class="text" type="hidden" value="<TMPL_VAR NAME=billing_address1 ESCAPE=1>" />
	<input name="billing_address2" class="text" type="hidden" value="<TMPL_VAR NAME=billing_address2 ESCAPE=1>" />
	<input name="billing_zip" class="text" type="hidden" value="<TMPL_VAR NAME=billing_zip ESCAPE=1>" />
	<input name="billing_city" class="text" type="hidden" value="<TMPL_VAR NAME=billing_city ESCAPE=1>" />
	<input name="billing_state" class="text" type="hidden" value="<TMPL_VAR NAME=billing_state ESCAPE=1>" />
	<input name="billing_country" class="text" type="hidden" value="<TMPL_VAR NAME=billing_country ESCAPE=1>" />
	<input name="billing_email" class="text" type="hidden" value="<TMPL_VAR NAME=billing_email ESCAPE=1>" />
	<input name="comments" class="text" type="hidden" value="<TMPL_VAR NAME=comments ESCAPE=1>" />
	<input name="confirmed" class="text" type="hidden" value="<TMPL_VAR NAME=confirmed ESCAPE=1>" />
	<input name="step" class="text" type="hidden" value="2" />

			<div class="content" id="site_content">
				<h2 class="shop">Openmoko Online Shop - Step 2/3</h2>
                <h3 class="shop">WARNING: Developers only!</h3>
		<div class="content">
			Please note that the OpenMoko products are not meant for the end user and explicitly marked as <span class="orange">Developer preview</span> at this time.  Read <a href="http://wiki.openmoko.org/wiki/Developer_preview">this wiki article</a> to find more technical details of what you can and cannot expect of these devices.  You have been warned ;)
		</div>

                <h3 class="shop">Your Order:</h3>
                
                <table class="product_table" cellpadding="0" cellspacing="0">
                    <tr>
			<td class="quantity_column">
				<ul class="product">
					<li class="quantity"><strong>Quantity: <TMPL_VAR NAME=quantity_basic_black></strong></li>
				</ul>
			</td>
                        <td class="image_column"><img src="/images/_sample_product_2.jpg" alt="Neo Base black/silver" /></td>
                        <td class="description_column">
                        	<ul class="product">
                            	<li class="name"><h2>Neo Base (black/silver) - Developer preview</h2></li>
                                <li class="description">The Neo Base kit contains everything the mobile application developer needs to enjoy the benefits of the first freed phone, the Neo 1973.</li>
                                <li class="price"><strong>Price:</strong> <strong class="orange">$300 USD</strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
			<td class="quantity_column">
				<ul class="product">
					<li class="quantity"><strong>Quantity: <TMPL_VAR NAME=quantity_basic_orange></strong></li>
				</ul>
			</td>
                        <td class="image_column"><img src="/images/_sample_product_3.jpg" alt="Neo Base white/orange" /></td>
                        <td class="description_column">
                        	<ul class="product">
                            	<li class="name"><h2>Neo Base (white/orange) - Developer preview</h2></li>
                                <li class="description">The Neo Base kit contains everything the mobile application developer needs to enjoy the benefits of the first freed phone, the Neo 1973.</li>
                                <li class="price"><strong>Price:</strong> <strong class="orange">$300 USD</strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
			<td class="quantity_column">
				<ul class="product">
					<li class="quantity"><strong>Quantity: <TMPL_VAR NAME=quantity_advanced_black></strong></li>
				</ul>
			</td>
                        <td class="image_column"><img src="/images/_sample_product_1.jpg" alt="Neo Advanced black/silver" /></td>
                        <td class="description_column">
                        	<ul class="product">
                            	<li class="name"><h2>Neo Advanced (black/silver) - Developer preview</h2></li>
                                <li class="description">The Neo Advanced Kit everything the mobile device hacker wants to get down and dirty with the first freed phone, the Neo 1973.</li>
                                <li class="price"><strong>Price:</strong> <strong class="orange">$399 USD</strong> (special holiday price)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
			<td class="quantity_column">
				<ul class="product">
					<li class="quantity"><strong>Quantity: <TMPL_VAR NAME=quantity_advanced_orange></strong></li>
				</ul>
			</td>
                        <td class="image_column"><img src="/images/_sample_product_1.jpg" alt="Neo Advanced white/orange" /></td>
                        <td class="description_column">
                        	<ul class="product">
                            	<li class="name"><h2>Neo Advanced (white/orange) - Developer preview</h2></li>
                                <li class="description">The Neo Advanced Kit everything the mobile device hacker wants to get down and dirty with the first freed phone, the Neo 1973.</li>
                                <li class="price"><strong>Price:</strong> <strong class="orange">$399 USD</strong></li>
                            </ul>
                        </td>
                    </tr>
                </table>

		<p class="card_subtotal"><strong>Cart Subtotal:</strong> <strong class="orange">$<TMPL_VAR NAME=subtotal></strong> <span class="note">This price does not yet include shipping!</span></p>

		<h3 class="shop">Shipping Information:</h3>
                <div class="shipping_info">
			<div class="group">
	                    <label><strong>Available shipping options:</strong></label>
			    <div class="content"><b>NOTE:</b> Please do not select STANDARD method for Canada. The agent would charge extra 100$ in delivery.</div>
                            <div class="input_field">
			    	<table>
				<tr><th>Name</th><th>Shipping cost</th><th><strong>Total cost</strong></th></tr>
<TMPL_LOOP NAME=delivery_options>
				<tr>
					<td><label><input type="radio" name="upsmethod" value="<TMPL_VAR NAME=delivery_value>" /><TMPL_VAR NAME=delivery_name></label></td>
					<td><TMPL_VAR NAME=delivery_cost></td>
					<td><strong class="orange"><TMPL_VAR NAME=delivery_total></strong></td>
				</tr>
</TMPL_LOOP>
				</table>
                            </div>
                            <div class="clear"></div>
                        </div>
		</div>

		<h3 class="shop">Shipping Address:</h3>
                <div class="shipping_info">
                
                	<div class="group first">
	                    <label><strong>Name:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_name ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label>Company:</label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_company ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label><strong>Address:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_address1 ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
			<div class="group">
	                    <label>Address (continued):</label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_address2 ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>

                	<div class="group">
	                    <label><strong>Post Code / ZIP:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_zip ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label><strong>City:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_city ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label><strong>State / Province:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_state ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label><strong>Country:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_country_name ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label><strong>Phone Number:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_phone ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label><strong>E-mail:</strong></label>
                        <div class="input_field"><TMPL_VAR NAME=shipping_email ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>
                    
                	<div class="group">
	                    <label>Comments / Shipping instructions:</label>
                        <div class="input_field"><TMPL_VAR NAME=comments ESCAPE=1></div>
                        <div class="clear"></div>
                    </div>

                </div>
                    
<TMPL_IF NAME="billing_name">
                <h3 class="shop">Billing Address: </span></h3>
                <div class="shipping_info">
                
	               	<div class="group first">
				<label><strong>Name:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_name></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label>Company:</label>
                            <div class="input_field"><TMPL_VAR NAME=billing_company></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label><strong>Address:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_address1></div>
                            <div class="clear"></div>
                        </div>

                       <div class="group">
                            <label>Address (continued):</label>
                            <div class="input_field"><TMPL_VAR NAME=billing_address2></div>
                            <div class="clear"></div>
                        </div>
 
                	<div class="group">
	                    <label><strong>Post Code / ZIP:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_zip></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label><strong>City:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_city></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label><strong>State / Province:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_state></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label><strong>Country:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_country_name></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label>Phone Number:</label>
                            <div class="input_field"><TMPL_VAR NAME=billing_phone></div>
                            <div class="clear"></div>
                        </div>
                    
                	<div class="group">
	                    <label><strong>E-mail:</strong></label>
                            <div class="input_field"><TMPL_VAR NAME=billing_email></div>
                            <div class="clear"></div>
                        </div>
                </div>               
<TMPL_ELSE>
                <h3 class="shop">Billing Address: same as shipping address </span></h3>
</TMPL_IF>

           	<h3 class="shop">Payment Details:</h3>
<TMPL_IF NAME=payment_cc>
		<div class="content">
		<b>NOTE:</b> Your CC will be charged in NTD(New Taiwan Dollar), so please do not wonder about 'foreign card use' on your CC bill.<a href="http://wiki.openmoko.org/wiki/SH1_FAQ#Why_does_the_charge_show_as_a_.27foreign_card_use.27.3F" target="_blank"> more details</a><br>
		<b>NOTE:</b> For Sales in California we have to collect 'sales tax' (7.25~8.5%) which will be added to the CC charge, but not listed in the total.
		</div>
		<div class="shipping_info">
                	<div class="group first">
	                    <label><strong>Credit Card Holder: </strong></label>
                            <div class="input_field"><input class="text" type="text" name="cc_holder" /></div>
                            <div class="clear"></div>
                        </div>

                	<div class="group">
	                    <label><strong>Credit Card Type: </strong></label>
                            <div class="input_field">
			    	<select name="cc_type">
					<option value="VISA">VISA</option>
					<option value="MasterCard">MasterCard</option>
					<option value="JCB">JCB</option>
				</select>
			    </div>
                            <div class="clear"></div>
                        </div>

                	<div class="group">
	                    <label><strong>Credit Card Number: </strong></label>
                            <div class="input_field"><input class="text" type="text" name="cc_number" size="15" /></div>
                            <div class="clear"></div>
                        </div>

                	<div class="group">
	                    <label><strong>Credit Card CID/CVV2: </strong></label>
                            <div class="input_field"><input class="text" type="text" name="cc_cvv2" size="4"/></div>
                            <div class="clear"></div>
                        </div>
                	
			<div class="group">
	                    <label><strong>Credit Card Expiry: </strong></label>
                            <div class="input_field">
				<select name="cc_exp_mon">
					<option value="00">(select)</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<select name="cc_exp_yr">
					<option value="0000">(select)</option>
					<option value="2007">2007</option>
					<option value="2008">2008</option>
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
				</select>
			    </div>
                            <div class="clear"></div>
                        </div>
		</div>
</TMPL_IF>
<TMPL_IF NAME=payment_wire>
		<div class="shipping_info">
                	<div class="group first">
	                    <label><strong>Payment via international wire transfer / SWIFT</strong></label>
                            <div class="input_field">FIXME: FIC account details</div>
                            <div class="clear"></div>
                        </div>
	        </div>
</TMPL_IF>
<TMPL_IF NAME=payment_cod>
		<div class="shipping_info">
                	<div class="group first">
	                    <label><strong>Payment via cash on delivery (COD)</strong></label>
                            <div class="input_field">FIXME: details</div>
                            <div class="clear"></div>
			</div>
                </div>               
</TMPL_IF>
            
            <div class="button_bar">
		<input type="submit" value="Submit Order!"\>
                <!-- <a href="javascript:document.order_form.submit();"><img src="/images/button_proceed_to_checkout.gif" alt="proceed to checkout" /></a> -->
            </div>
            
            <a href="#" class="top_link"><span>top</span></a>
		</form>
	</div>
	
	<div class="clear" style="height:20px;"></div>

		<div id="footer">
		<ul id="secundary_navigation">
			<li><a href="http://www.openmoko.com/index.html">Home</a></li>
			<li><a href="http://www.openmoko.com/products-index.html">Products</a></li>
			<li><a href="https://direct.openmoko.com/" class="selected">Shop</a></li>
			<li><a href="http://www.openmoko.com/about-index.html">About</a></li>
			<li><a href="http://www.openmoko.com/press-index.html">Press</a></li>
			<li><a href="http://www.openmoko.com/careers-index.html">Careers</a></li>
			<li><a href="http://www.openmoko.com/contact-index.html">Contact</a></li>
		</ul>
		Copyright &copy; 2006-2007 Openmoko, Inc. All Rights Reserved
	</div>
	
</div>

</body>

</html>
