<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    ${select('*')}
    <link rel="stylesheet" type="text/css"
          href="${href.chrome('site/style.css')}" />
  </head>

  <body py:match="body" py:attrs="select('@*')">
    <div id="siteheader">
      <div id="main_navigation">
        <ul>
          <li><a href="http://www.openmoko.org/" class="nav_home"><span>Home</span></a></li>
          <li><a href="http://wiki.openmoko.org/" class="nav_wiki"><span>Wiki</span></a></li>
          <li><a href="http://docs.openmoko.org/" class="nav_docs selected"><span>Docs</span></a></li>
          <li><a href="http://planet.openmoko.org/" class="nav_planet"><span>Planet</span></a></li>
          <li><a href="http://projects.openmoko.org/" class="nav_projects"><span>Projects</span></a></li>
          <li><a href="http://lists.openmoko.org/" class="nav_lists"><span>Lists</span></a></li>
        </ul>
      </div>
    </div>
    <div id="restfnord">
      ${select('*|text()')}
    </div>
    <div id="sitefooter">
    </div>
  </body>
  <form py:match="div[@id='content' and @class='ticket']/form" py:attrs="select('@*')">
    <py:if test="req.environ['PATH_INFO'] == '/newticket' and (not 'preview' in req.args)">
      <p>Please make sure to <a href="http://docs.openmoko.org/trac/search">search</a> for existing tickets before reporting a new one!</p>
      <p>Problems with our Infrastructure (server, mailinglists, trac, etc.) should be reported to the <a href="http://admin-trac.openmoko.org/trac/">admin-trac</a></p>
      <p>To file a Bug concerning the distribution Openmoko, the buildsystem, the hardware built by Openmoko and the software developed for these devices please continue below.</p>
    </py:if>
    ${select('*')} 
  </form>
  <ul py:match="ul[@class='milestones']" py:attrs="select('@*')">
    <py:if test="req.environ['PATH_INFO'] == '/roadmap'">
      <p>For a more detailed view about available images please see <a href="http://wiki.openmoko.org/wiki/Latest_Images">Latest Images</a></p>
    </py:if>
    ${select('*')}
  </ul>
</html>
